abbr,address,article,aside,audio,b,blockquote,body,caption,cite,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
body{line-height:1}
article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
a{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:0 0}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
html{font-size:10px}
body{font-family:YakuHanJP,Outfit,'Noto Sans JP','Noto Sans JP',YuGothic,'Yu Gothic',Meiryo,'メイリオ','MS PGothic','ＭＳ Ｐゴシック',sans-serif;font-size:1.5rem;font-weight:400;line-height:2;color:#333;background:#fff;letter-spacing:.15em;-webkit-text-size-adjust:100%;min-width:1200px}
body *{outline:0;box-sizing:border-box;font-feature-settings:'palt' 1}
body :after,body :before{box-sizing:border-box}
h1,h2,h3,h4,h5,h6{font-weight:400;line-height:1.4}
h1{font-size:2.8rem}
h2{font-size:2.6rem}
h3{font-size:2.4rem}
h4{font-size:2.2rem}
h5{font-size:2rem}
h6{font-size:1.8rem}
img{pointer-events:none;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;max-width:100%;height:auto;vertical-align:bottom;image-rendering:-webkit-optimize-contrast}
picture{display:block}
a{transition:opacity .3s;font-weight:400;color:#333;text-decoration:none}
a:hover{opacity:.6}
a[href^='tel:']{cursor:default;pointer-events:none}
em,strong{font-weight:700;font-style:normal}
dl dt{font-weight:400}
ol,ul{list-style:none}
figure{line-height:0}
figure figcaption{line-height:2}
table{width:100%}
table th{text-align:left}
iframe{border:none;width:100%}
button,input,select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;width:100%;padding:0;border:none;border-radius:0;font-family:YakuHanJP,Outfit,'Noto Sans JP','Noto Sans JP',YuGothic,'Yu Gothic',Meiryo,'メイリオ','MS PGothic','ＭＳ Ｐゴシック',sans-serif;font-size:1.5rem;font-weight:400;line-height:2;color:#333;background:#fff;letter-spacing:.15em;-webkit-text-size-adjust:100%}
textarea{resize:vertical;vertical-align:bottom}
button,input[type=button],input[type=reset],input[type=submit]{transition:opacity .3s;cursor:pointer}
button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{opacity:.6}
.pc-hide{display:none}
.sp-hide{display:block}
.tal{text-align:left}
.tar{text-align:right}
.tac{text-align:center}
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
.lh14{line-height:1.4}
.lh18{line-height:1.8}
.lh20{line-height:2}
#tinymce>*,.m_cms_wysiwyg>*{margin-top:15px;line-height:2.2}
#tinymce>:first-child,.m_cms_wysiwyg>:first-child{margin:0}
#tinymce h1,.m_cms_wysiwyg h1{position:relative;font-size:1.9rem;line-height:1.8;margin-top:50px;font-weight:700}
#tinymce h2,.m_cms_wysiwyg h2{font-size:1.9rem;line-height:1.9;margin-top:30px}
#tinymce h3,.m_cms_wysiwyg h3{font-size:1.7rem;line-height:1.8;margin-top:30px}
#tinymce h4,.m_cms_wysiwyg h4{font-size:1.5rem;line-height:1.8;margin-top:30px;font-weight:700}
#tinymce h5,.m_cms_wysiwyg h5{display:inline-block;font-size:1.5rem;line-height:1.9;margin-top:30px;font-weight:700;background:linear-gradient(0deg,#fff 0,#fff 10%,#dae24a 10%,#dae24a 45%,#fff 45%,#fff 100%)}
#tinymce h6,.m_cms_wysiwyg h6{display:inline-block;font-size:1.2rem;line-height:1.9;margin-top:30px;background:#333;color:#fff;padding:4px 10px 2px}
#tinymce ul,.m_cms_wysiwyg ul{margin-top:30px}
#tinymce ul li,.m_cms_wysiwyg ul li{position:relative;margin-top:8px;padding-left:1em}
#tinymce ul li:first-child,.m_cms_wysiwyg ul li:first-child{margin-top:0}
#tinymce ul li:before,.m_cms_wysiwyg ul li:before{content:'';position:absolute;margin:auto;top:1.3rem;left:0;width:.4rem;height:.4rem;border-radius:50%;background:#333}
#tinymce ol,.m_cms_wysiwyg ol{counter-reset:no;margin-top:30px}
#tinymce ol li,.m_cms_wysiwyg ol li{position:relative;margin-top:8px;padding-left:1.5em}
#tinymce ol li:first-child,.m_cms_wysiwyg ol li:first-child{margin-top:0}
#tinymce ol li:before,.m_cms_wysiwyg ol li:before{counter-increment:no;content:counter(no) '.';position:absolute;top:0;left:0}
#tinymce blockquote,.m_cms_wysiwyg blockquote{background:#ebebeb;padding:25px 30px;border-radius:30px;margin:30px 0}
#tinymce blockquote *,.m_cms_wysiwyg blockquote *{margin-top:15px}
#tinymce blockquote :first-child,.m_cms_wysiwyg blockquote :first-child{margin:0}
#tinymce p:after,.m_cms_wysiwyg p:after{content:'';display:block;clear:both}
#tinymce p strong,.m_cms_wysiwyg p strong{font-weight:700!important}
#tinymce a,.m_cms_wysiwyg a{text-decoration:underline;transition:all .3s;color:#333}
#tinymce a:hover,.m_cms_wysiwyg a:hover{opacity:.6}
#tinymce a[target=_blank]:after,.m_cms_wysiwyg a[target=_blank]:after{content:'';display:inline-block;position:relative;width:10px;height:10px;margin:0 7px;background:url(/wp-content/themes/aisantec.co.jp/asset/img/i_blank_bk.svg) no-repeat center;background-size:10px}
#tinymce img,.m_cms_wysiwyg img{display:block;height:auto;max-width:100%}
#tinymce img.alignleft,#tinymce img.alignright,.m_cms_wysiwyg img.alignleft,.m_cms_wysiwyg img.alignright{width:375px}
#tinymce .aligncenter,.m_cms_wysiwyg .aligncenter{margin:0 auto}
#tinymce .alignright,.m_cms_wysiwyg .alignright{float:right;margin:8px 0 20px 20px}
#tinymce .alignleft,.m_cms_wysiwyg .alignleft{float:left;margin:8px 20px 20px 0}
#tinymce div.aligncenter,.m_cms_wysiwyg div.aligncenter{margin:25px 0 0 0;text-align:center}
#tinymce div.aligncenter img,.m_cms_wysiwyg div.aligncenter img{display:inline}
#tinymce div.alignright,.m_cms_wysiwyg div.alignright{margin:24px 0 20px 10px}
#tinymce div.alignleft,.m_cms_wysiwyg div.alignleft{margin:24px 10px 20px 0}
#tinymce .wp-video,.m_cms_wysiwyg .wp-video{max-width:100%}
#tinymce .wp-video video,.m_cms_wysiwyg .wp-video video{max-width:100%;height:auto!important}
#tinymce .wp-caption-text,.m_cms_wysiwyg .wp-caption-text{font-size:1.2rem;margin-top:5px;line-height:1.4}
#tinymce .wp-playlist,.m_cms_wysiwyg .wp-playlist{margin-top:30px}
#tinymce .wp-playlist .wp-playlist-item,.m_cms_wysiwyg .wp-playlist .wp-playlist-item{padding:0;border-bottom:1px solid #ddd}
#tinymce .wp-playlist .wp-playlist-item .wp-playlist-caption,.m_cms_wysiwyg .wp-playlist .wp-playlist-item .wp-playlist-caption{padding:5px 0}
#tinymce .wp-playlist .wp-playlist-item .wp-playlist-item-length,.m_cms_wysiwyg .wp-playlist .wp-playlist-item .wp-playlist-item-length{top:6px}
#tinymce .gallery,.m_cms_wysiwyg .gallery{display:flex;flex-wrap:wrap;margin:10px 0 20px -10px}
#tinymce .gallery .gallery-item,.m_cms_wysiwyg .gallery .gallery-item{padding:10px 0 0 10px;text-align:left!important}
#tinymce .gallery .gallery-item a,.m_cms_wysiwyg .gallery .gallery-item a{display:block;line-height:0}
#tinymce .gallery .gallery-item a figure img,.m_cms_wysiwyg .gallery .gallery-item a figure img{width:100%;height:auto}
#tinymce .gallery .gallery-item a figure figcaption,.m_cms_wysiwyg .gallery .gallery-item a figure figcaption{font-size:1.2rem;margin-top:5px;line-height:1.4}
#tinymce .gallery-columns-1 .gallery-item,.m_cms_wysiwyg .gallery-columns-1 .gallery-item{width:100%}
#tinymce .gallery-columns-2 .gallery-item,.m_cms_wysiwyg .gallery-columns-2 .gallery-item{width:50%}
#tinymce .gallery-columns-3 .gallery-item,.m_cms_wysiwyg .gallery-columns-3 .gallery-item{width:33.3333333333%}
#tinymce .gallery-columns-4 .gallery-item,.m_cms_wysiwyg .gallery-columns-4 .gallery-item{width:25%}
#tinymce .gallery-columns-5 .gallery-item,.m_cms_wysiwyg .gallery-columns-5 .gallery-item{width:20%}
#tinymce .gallery-columns-6 .gallery-item,.m_cms_wysiwyg .gallery-columns-6 .gallery-item{width:16.6666666667%}
#tinymce .gallery-columns-7 .gallery-item,.m_cms_wysiwyg .gallery-columns-7 .gallery-item{width:14.2857142857%}
#tinymce .gallery-columns-8 .gallery-item,.m_cms_wysiwyg .gallery-columns-8 .gallery-item{width:12.5%}
#tinymce .gallery-columns-9 .gallery-item,.m_cms_wysiwyg .gallery-columns-9 .gallery-item{width:11.1111111111%}
#tinymce iframe,.m_cms_wysiwyg iframe{width:100%;height:460px}
#tinymce .mceTemp .wp-caption,.m_cms_wysiwyg .mceTemp .wp-caption{width:auto!important}
#tinymce{padding:30px!important}
#tinymce img{pointer-events:auto}
@media only screen and (-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-ratio:1.5){
img{image-rendering:auto}
}
@media screen and (max-width:1200px){
body{min-width:900px}
}
@media screen and (max-width:767px){
body{min-width:100%;font-size:1.3rem;line-height:1.8}
img{max-width:auto;width:100%;image-rendering:auto}
a[href^='tel:']{pointer-events:auto}
figure figcaption{line-height:1.8}
button,input,select,textarea{font-size:1.3rem;line-height:1.8}
.pc-hide{display:block}
.sp-hide{display:none}
.lh18{line-height:2}
.lh20{line-height:2}
#tinymce>*,.m_cms_wysiwyg>*{margin-top:10px}
#tinymce h1,.m_cms_wysiwyg h1{font-size:1.6rem;margin-top:30px}
#tinymce h2,.m_cms_wysiwyg h2{font-size:1.5rem}
#tinymce h3,.m_cms_wysiwyg h3{font-size:1.4rem}
#tinymce h4,.m_cms_wysiwyg h4{font-size:1.3rem}
#tinymce h5,.m_cms_wysiwyg h5{font-size:1.3rem}
#tinymce h6,.m_cms_wysiwyg h6{padding:2px 10px 1px;font-size:1.1rem}
#tinymce ul,.m_cms_wysiwyg ul{margin-top:20px}
#tinymce ul li:before,.m_cms_wysiwyg ul li:before{top:1rem}
#tinymce ol,.m_cms_wysiwyg ol{margin-top:20px}
#tinymce blockquote,.m_cms_wysiwyg blockquote{font-size:1rem;padding:22px 23px;margin:30px -10px;border-radius:25px}
#tinymce blockquote *,.m_cms_wysiwyg blockquote *{margin-top:10px}
#tinymce a[target=_blank]:after,.m_cms_wysiwyg a[target=_blank]:after{top:1px}
#tinymce img,.m_cms_wysiwyg img{width:100%}
#tinymce img.alignleft,#tinymce img.alignright,.m_cms_wysiwyg img.alignleft,.m_cms_wysiwyg img.alignright{width:100%}
#tinymce .alignright,.m_cms_wysiwyg .alignright{float:none;margin:0 0 15px 0}
#tinymce .alignleft,.m_cms_wysiwyg .alignleft{float:none;margin:0 0 15px 0}
#tinymce div.aligncenter,.m_cms_wysiwyg div.aligncenter{margin:10px 0 15px 0}
#tinymce div.alignright,.m_cms_wysiwyg div.alignright{margin:10px 0 15px 0}
#tinymce div.alignleft,.m_cms_wysiwyg div.alignleft{margin:10px 0 15px 0}
#tinymce .wp-playlist .wp-playlist-current-item img,.m_cms_wysiwyg .wp-playlist .wp-playlist-current-item img{width:auto;height:60px}
#tinymce .gallery-columns-1 .gallery-item,.m_cms_wysiwyg .gallery-columns-1 .gallery-item{width:50%}
#tinymce .gallery-columns-2 .gallery-item,.m_cms_wysiwyg .gallery-columns-2 .gallery-item{width:50%}
#tinymce .gallery-columns-3 .gallery-item,.m_cms_wysiwyg .gallery-columns-3 .gallery-item{width:50%}
#tinymce .gallery-columns-4 .gallery-item,.m_cms_wysiwyg .gallery-columns-4 .gallery-item{width:50%}
#tinymce .gallery-columns-5 .gallery-item,.m_cms_wysiwyg .gallery-columns-5 .gallery-item{width:50%}
#tinymce .gallery-columns-6 .gallery-item,.m_cms_wysiwyg .gallery-columns-6 .gallery-item{width:50%}
#tinymce .gallery-columns-7 .gallery-item,.m_cms_wysiwyg .gallery-columns-7 .gallery-item{width:50%}
#tinymce .gallery-columns-8 .gallery-item,.m_cms_wysiwyg .gallery-columns-8 .gallery-item{width:50%}
#tinymce .gallery-columns-9 .gallery-item,.m_cms_wysiwyg .gallery-columns-9 .gallery-item{width:50%}
#tinymce iframe,.m_cms_wysiwyg iframe{height:210px}
}
/*# sourceMappingURL=editor-style.css.map */
