@use "sass:math";
@use "../core/setting" as *;
@use "../core/mixin" as *;

#page_privacy {
  #anker {
    ul {
      @include boxRow(2, 0, 20px, 0);

      li {
        a {
          position: relative;
          display: block;
          padding: 15px 0;
          border-bottom: 1px solid $colorGray;

          @media #{$breakS} {
            padding: 15px 30px 15px 0;
          }

          &:after {
            @include icoPosition();
            top: 0;
            bottom: 0;
            right: 5px;
            width: 18px;
            height: 18px;
            background: url('#{$imgPath}i_arr.svg') no-repeat center;
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  #privacy01,
  #privacy02,
  #privacy03,
  #privacy04,
  #privacy05,
  #privacy06,
  #privacy07,
  #privacy08,
  #privacy09 {
    .box {
      margin-top: 30px;
    }

    h3 {
      font-weight: $fontBold;
      margin-bottom: 10px;
      font-size: 20px;
    }

    .u_h4 {
      font-weight: $fontBold;
      font-size: 1.8rem;
      margin: 20px 0 10px;

      @media #{$breakS} {
        font-size: 1.5rem;
      }
    }

    .u_h5 {
      line-height: 2;
      font-weight: $fontBold;
      background: $colorLightGray;
      padding: 3px 10px 1px;
      margin: 20px 0 10px;
      font-size: 1.5rem;

      @media #{$breakS} {
        line-height: 1.5;
        padding: 7px 10px 8px;
        font-size: 1.3rem;
      }
    }

    a {
      color: $colorMain;
      text-decoration: underline;

      &[href$=".pdf"] {
        &:after {
          @include icoInline();
          top: 3px;
          width: 18px;
          height: 18px;
          margin-left: 5px;
          background: url('#{$imgPath}i_document.svg') no-repeat center;

          @media #{$breakS} {
            top: 5px;
            margin-left: 0;
          }
        }
      }
    }

    .u_contact {
      dl {
        display: flex;

        &+dl {
          margin-top: 10px;

          @media #{$breakS} {
            margin-top: 5px;
          }
        }

        dt {
          flex-shrink: 0;
          width: 100px;
          font-weight: $fontBold;

          @media #{$breakS} {
            width: 80px;
          }
        }
      }
    }
  }

  #privacy01 {
    .box05 {
      .privacyMark_img {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        @media #{$breakS} {
          align-items: flex-start;
        }

        img {
          flex-shrink: 0;
          position: relative;
          width: 76px;
          margin-right: 20px;

          @media #{$breakS} {
            top: 4px;
            width: 50px;
          }
        }

        p {
          a {
            color: $colorMain;
            text-decoration: underline;

            &:after {
              @include icoInline();
              top: 3px;
              width: 18px;
              height: 18px;
              margin-left: 5px;
              background: url('#{$imgPath}i_blank_blue.svg') no-repeat center;
            }
          }
        }
      }
    }

    .box06 {
      .contact {
        margin: 20px 0;
      }

      p.kyokai {
        margin-top: 30px;

        @media #{$breakS} {
          margin-top: 10px;
        }
      }
    }
  }

  #privacy02 {
    .box05 {
      .corner {
        border: 1px solid $colorGray;
        margin-top: 15px;
        padding: 30px;

        @media #{$breakS} {
          padding: 20px;
        }

        .corner_item01 {
          h4 {
            margin-top: 0;
          }
        }

        .corner_item04 {
          ol {
            margin-top: 10px;
          }
        }

        .corner_item05 {
          dl {
            &+dl {
              margin-top: 10px;
            }

            dt {
              font-weight: $fontBold;
            }
          }
        }
      }
    }

    .box06 {
      ul {
        margin: 10px 0;

        li {
          &+li {
            margin-top: 0px;
          }
        }
      }
    }

    .box08 {
      .contact {
        margin-top: 20px;
      }
    }
  }

  #privacy03 {
    ul {
      li {
        &+li {
          margin-top: 0px;
        }
      }
    }
  }

  #privacy05 {
    .box01 {
      p.flow {
        text-align: center;
      }
    }

    .box03 {
      .contact {
        margin: 20px 0;
      }
    }
  }

  #privacy06 {
    .box02 {
      .corner {
        border: 1px solid $colorGray;
        margin-top: 15px;
        padding: 30px;

        @media #{$breakS} {
          padding: 20px;
        }

        .corner_item01 {
          h5:first-child {
            margin-top: 0;
          }

          dl {
            &+dl {
              margin-top: 10px;
            }

            dt {
              font-weight: $fontBold;
            }
          }
        }
      }
    }
  }

  #privacy07 {
    .box02 {
      .corner {
        border: 1px solid $colorGray;
        margin-top: 15px;
        padding: 30px;

        @media #{$breakS} {
          padding: 20px;
        }

        .corner_item01 {
          h5:first-child {
            margin-top: 0;
          }

          dl {
            &+dl {
              margin-top: 10px;
            }

            dt {
              font-weight: $fontBold;
            }
          }
        }
      }
    }
  }
}